extends layout

block content
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('home');
		});

	div.container
		div.row.row-no-top
			div.content.dash
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
				div.col-xs-6.col-sm-6.col-md-6.col-lg-6
					div.pageInstruct Select Dashboard
					div.arrowWhiteDown
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href="#")
						div.thfclogo.right
				div.dashBtnCont
					a.dashBtn(href="#" class ='dashA' id="traineedash")
						p Operator
				div.dashBtnCont
					a.dashBtn(href="#" class ='dashA' id="playerdash")
						p Player

	div.popOverlay(style='display:none;')#traineepop
		div.popUp.login
			div.popUpInstruct Operator Log In
			//- input(type="text", name="Password", placeholder="Password")#traineeuser
			form
				input(type="password", name="Password", placeholder="Password")#traineepass
			a(href='#' id='traineelogin')
				div.popUpBtn.login
					div.arrowBlueRight