doctype html
html
  head
    title Player Wellness
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- to be changed with local one
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic', type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
    script(src='/scripts/main.js')
    script(src='/scripts/bower.min.js')
  body
    block content