extends layout

block content
	h1= title
	p Welcome #{user}
	#login-container
		form( method="post")#login-form.well.span4
			label #{user} 
			input(type="text", name="user")#user
			button.somebutton
			div.error #{error}